---
import Layout from "@layouts/default.astro";
---

<Layout>
  <div class="flex flex-col gap-1 mb-5">
    <h1 class="text-4xl">moin!</h1>
    <p class="text-sm font-serif">Greeting in northern Germany</p>
  </div>

  <main>
    <p>
      My name is Justin! I am a software engineer at <a
        href="https://www.eventim.de/">eventim</a
      > located in germany.
    </p>
    <p>
      I really like coffee ☕️, exploring the latest and greatest frameworks
      focused around front end development and diving deep into technologies.
    </p>
  </main>
</Layout>
