---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
// import ThemeSwitcher from "./ThemeSwitcher";
import ThemeSwitcher from "./ThemeSwitcher.svelte";
---

<header
  class="flex flex-col container mx-auto px-5 py-2 mt-5 items-center gap-5"
>
  <h2 class="text-3xl dark:text-white">
    {SITE_TITLE}
  </h2>
  <nav
    class="flex flex-row gap-3"
  >
    <HeaderLink href={`/`}>Home</HeaderLink>
    <HeaderLink href={`/blog`}>Blog</HeaderLink>
  </nav>
  <ThemeSwitcher client:load/>
</header>