---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "") || isBlogArticle(href);

function isBlogArticle(href: string | null | undefined | URL): boolean {
  if (!href) { return false }
  if (pathname.includes('/blog')) {
  if (href instanceof URL) { return href.pathname.includes('/blog'); }
    return href.includes('blog');
  }
  return false;
}
---

<a
  href={href}
  class:list={[
    className,
    "cursor-pointer inline-block",
    "text-lg",
    "dark:text-white"
  ]}
  {...props}
>
  {isActive ? <p>&lcub;<slot />&rcub;</p> : <slot />}
</a>
