---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    "cursor-pointer inline-block",
    "dark:text-white"
  ]}
  {...props}
>
  {isActive ? <p>&lcub;<slot />&rcub;</p> : <slot />}
</a>
