---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
// import ThemeSwitcher from "./ThemeSwitcher";
import ThemeSwitcher from "./ThemeSwitcher.svelte";
---

<header
  class="container mx-auto px-5 py-2 mt-5 flex flex-col md:flex-row md:items-center md:gap-10"
>
  <span class="flex flex-row gap-2 items-center mb-5 md:mb-0 justify-between md:justify-start">
    <h2 class="text-3xl dark:text-white">
      {SITE_TITLE}
    </h2>
    <ThemeSwitcher client:only="svelte"/>
  </span>
  <nav class="flex flex-row gap-3">
    <HeaderLink href={`/`}>Home</HeaderLink>
    <HeaderLink href={`/blog`}>Blog</HeaderLink>
    <HeaderLink href={`/rss.xml`}>RSS</HeaderLink>
    <HeaderLink href="https://twitter.com/kiesman99" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://github.com/kiesman99" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
